include header
.row(style="margin: 0;")
  .col-lg-5.row.left-home
    a(href="#", class="col-lg-3", style="background-image: url(images/taj-mahal.jpg)")
      span 01
      span Sarayut Lawilai
      span Taj Mahal
    a(href="#", class="col-lg-3", style="background-image: url(images/wat.jpg)")
      span 02
      span Sarayut Lawilai
      span Wat Arun, Bangkok
    a(href="#", class="col-lg-3", style="background-image: url(images/wat-2.jpg)")
      span 03
      span Sarayut Lawilai
      span Wat Uposatharam, Uthai Thani 
    a(href="#", class="col-lg-3", style="background-image: url(images/wat-3.jpg)")
      span 04
      span Sarayut Lawilai
      span Wat Sa Ket Ratchaworamaha
    a(href="#", class="col-lg-3", style="background-image: url(images/road.jpg)")
      span 05
      span Sarayut Lawilai
      span Krung Thep Bridge
    a(href="#", class="col-lg-3", style="background-image: url(images/railway.jpg)")
      span 06
      span Sarayut Lawilai
      span Thon Buri Railway Station, Bangkok
    a(href="#", class="col-lg-3", style="background-image: url(images/thronhall.jpg)")
      span 07
      span Sarayut Lawilai
      span Ananta Samakhom Throne Hall, Dusit District
    a(href="#", class="col-lg-3", style="background-image: url(images/wat-4.jpg)")
      span 08
      span Sarayut Lawilai
      span Prasat Nakhon Luang, Nakhon Luang District
    a(href="#", class="col-lg-3", style="background-image: url(images/thai-palace.jpg)")
      span 09
      span Sarayut Lawilai
      span Phaya Thai Palace, Ratchathewi District
    a(href="#", class="col-lg-3", style="background-image: url(images/phi-islands.jpg)")
      span 10
      span Sarayut Lawilai
      span Phi Phi Islands
    a(href="#", class="col-lg-3", style="background-image: url(images/aisbus.jpg)")
      span 11
      span Sarayut Lawilai
      span An Airbus A380 of the national carrier Thai Airways
    a(href="#", class="col-lg-3", style="background-image: url(images/yaowarat.jpg)")
      span 12
      span Sarayut Lawilai
      span Yaowarat Road is the centre of Bangkok's Chinatown
    a(href="#", class="col-lg-3", style="background-image: url(images/wat-5.jpg)")
      span 13
      span Sarayut Lawilai
      span Theravada Buddhism, highly practised in Thailand
    a(href="#", class="col-lg-3", style="background-image: url(images/khon.jpg)")
      span 14
      span Sarayut Lawilai
      span Khon show is the most stylised form of Thai performance.
    a(href="#", class="col-lg-3", style="background-image: url(images/muay-thai.jpg)")
      span 15
      span Sarayut Lawilai
      span Muay Thai, Thailand's signature sport
    a(href="#", class="col-lg-3", style="background-image: url(images/rice-exporter.jpg)")
      span 16
      span Sarayut Lawilai
      span largest rice exporter in the world
  .col-lg-6.center-home
    .top 
      .slides 
        .slide-box.row 
          .col-lg-6.left.border-right
            .bg(style="background-image: url(images/content.JPG)") 
              h1 Ariel Sharon, former Prime Minister of Israel, dies at 85
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam alias facilis ullam ipsa maxime. Repudiandae error fugit est soluta aut!
          .col-lg-6.right
            .head.row 
              .col-lg-6 
                strong In the news
              .col-lg-6.text-right 
                a(href="#") Wikinews 
            ul 
              li 
                a(href="#") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, beatae?
              li 
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, veritatis.
              li 
                a Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, vel!
              li
                a Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, maiores.
            
      .propagation 
        ul 
          li 08 
            span jan
          li 09 
            span jan
          li 10 
            span jan
          li 11 
            span jan
          li 12 
            span jan
          li 13 
            span jan
          li 14 
            span jan
          li 15 
            span jan
          li 16 
            span jan
          li.is-active 17 
            span jan
          li 18
            span jan
          li 19 
            span jan
    .bottom 

  .col.right-home
    .top 
      ul 
        li 
          a(href="#") Arts
        li 
          a(href="#") Biography 
        li 
          a(href="#") Geography 
        li 
          a(href="#") History
        li 
          a(href="#") Mathematics 
        li 
          a(href="#") Science
        li 
          a(href="#") Society 
        li 
          a(href="#") Technology 
        li 
          a(href="#") All portais
    .bottom
      #top
        ul
          li(class="bg", style="background-image: url(images/wiki-meta.png); ")
          li(class="bg", style="background-image: url(images/wiki-source.png);")
          li(class="bg", style="background-image: url(images/wiki-species.png);width: 60px; height: 60px;")
          li(class="bg", style="background-image: url(images/wiki-commons.png);width: 65px; height: 65px;")
          li(class="bg", style="background-image: url(images/wiki-news.png);width: 70px; height: 70px;")
      ul#bottom
        li
        li 
        li 


include footer